.navbar-custom {
    background-color: black;
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
 }